<div class="col-xs-12 col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">Marcas</div>
    <table class="table">
      <tbody>
        <% brands.each do |provider|%>
          <tr>
            <td><%= link_to provider.name, provider%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= image_tag "2.svg", class: "img-responsive" %>
</div>