<div class="menu">
  	<div class="container">
		<ul>
			<li><%= link_to 'Inicio', root_path%></li>
			<li><%= link_to('Productos', products_path) %></li>
			<li><%= link_to('Mis ordenes', orders_path) %></li>


		</ul>
  	</div>
</div>